.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;

}

body {
    position: relative;
    font-family: 'Raleway', sans-serif;
}


.uk-heading-line>::after, .uk-heading-line>::before {
    border-bottom: 1px solid #333;
}

/* Order-callback */
.order-callback {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 40px;
    bottom: 40px;
    height: 50px;
    background: rgba(255, 255, 255, .9);
    z-index: 1; 
    padding: 0 15px;
    line-height: 1.35;
    font-size: 16px;


}

.uk-navbar-nav>li>a {
    font-family: 'Raleway', sans-serif;
}

.navbar {
    padding: 30px 0;
    z-index: 1;
}

.navbar-index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, .9);
}

.uk-navbar-item,
.uk-navbar-nav>li>a,
.uk-navbar-toggle {
    font-size: 18px;
    text-transform: none;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: none;
}

.models .model {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.models *+.uk-grid-margin,
.uk-grid+.uk-grid,
.uk-grid>.uk-grid-margin {
    margin-top: 0;
}

/*  */


/* Section-hero */
.section-hero .uk-slideshow-items {
    padding-top: 80px;
}

/* Furniture-sets  */
.furniture-sets .item {
    cursor: pointer;
}

.furniture-sets .item h3 {
    margin: 0;
    padding: 10px 15px;
}

.furniture-sets .item h3+span {
    width: 50px;
    display: none;
}

.furniture-sets .item:hover  h3+span {
    display: flex;
}

.items .item {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.items .item:last-child {
    border: 0;
}

/* Section advantage */
.section-advantage .uk-card {
    border: 1px solid #333;
    margin-bottom: 15px;
}

.advantages .advantage img {
    width: 50px;
}

.advantages .advantage h4 {
    margin-top: 8px;
}



/* Section contacts */
.section-contacts .phones .phone {
   margin: 0;
   margin-right: 40px;
}

.section-contacts .phones .phone:last-child {
    margin: 0;
}