.uk-thumbnav {
    display: flex;
    margin-top: 1px;
}

.uk-thumbnav li {
    width: 140px;
}

.uk-thumbnav li:first-child {
    padding-left: 15px;
}

.uk-thumbnav>* {
    padding-left: 1px;
}

.specifications-list span {
    padding: 4px 0;
    display: block;
    margin-left: 20px;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
}

.specifications-list span:last-child {
    border-bottom: 0;
}